    <div class="wrapper">

      <header>
      </header>

      <section class="main-controls">
      
        <div id="record-buttons">
          <button class="delete"><i class="fas fa-times"></i></button>
          <button class="record"><i class="fas fa-microphone"></i></button>
          <button class="stop"><i class="fas fa-stop"></i></button>
        </div>
      </section>

      <section id="sound-clips">
        <div id ='waveform'>
        </div>
      </section>

    </div>
