<div class="wrapper">
  <div class='container'>
    <h1>Recordings</h1>
    <% unless @recordings.empty?%>
      <% @recordings.each do |recording| %>
        <div class='row' style="margin: 4rem 4rem;">
          <div class="col-6">
            <div class="waveform" id="recording-<%=recording.id%>" data-src-url="<%= recording.url %>">
              <div style="display: flex; justify-content: space-between;">
                <div class="recording-title" contenteditable="true">
                  <%= recording.title.nil? ? "Untitled Recording" : recording.title %>
                </div>  
                <input type='button' class='btn btn-primary' onclick='saveEdits(this.parentNode.id)' value='save' />
                <input type='button' class='btn btn-danger' onclick='saveEdits(this.parentNode.id)' value='delete' />
              </div>
              <div style="color: grey;">
                <%= recording.created_at.strftime("%b %e, %l:%M %p") %>
              </div>
            </div>
          </div>
          <div class="col-3 d-flex align-items-end">
                            <input type='button' class='btn btn-danger' onclick='saveEdits(this.parentNode.id)' value='play' />

          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>



  <script src="https://unpkg.com/wavesurfer.js"></script>

<script>
  recordingDivs = document.querySelectorAll('.waveform')
  recordingDivs.forEach((div) => {
    let wavesurfer = WaveSurfer.create({
    container: `#${div.id}`,
    waveColor: 'violet',
    progressColor: 'purple'
});
  let wavesurferUrl = div.getAttribute('data-src-url');
  wavesurfer.load(wavesurferUrl);
  });

  function saveEdits(divId) {
    const editElem = document.getElementById(divId);
    const userVersion = editElem.firstElementChild.innerHTML.trim();
    const formData = new FormData();
    formData.append('recording[title]', userVersion);
    const request = new XMLHttpRequest();
    let idNum = divId.match(/[0-9]+/)[0];
    console.log(idNum);
    request.open("PATCH", `/recordings/${idNum}`);
    request.send(formData);
  }
</script>
