<div class='hero'>
  <div class='bg-img-wrapper'>
    <div class='bg-img'></div>    
  </div>
  <div class='slogan-container'>
    <div class='slogan'>
      <h2>recording for language learners</h2>
    </div>
  </div>
</div>

<h1>Record your students</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis dignissimos totam laudantium assumenda, eveniet facere illo, doloribus possimus quos in nulla beatae earum id ducimus rem exercitationem consequuntur alias quis.</p>