<div class='home-section hero'>
  <div class='bg-img-wrapper'>
    <div class='bg-img'></div>    
  </div>
  <div class='slogan-container scale-in-ver-center'>
    <div class='slogan focus-in-expand'>
      <h4>the online recorder for language learners</h4>
    </div>
  </div>
</div>
<div class="home-section feature d-flex justify-content-around">
  <div class="row" style="max-width: 1600px">
    <div class="card-deck">
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top feature-image" alt="talking into smartphone" src='assets/talking-into-smartphone.png'>
          <div class="card-body">
            <h5 class="card-title">Record from your smartphone</h5>
            <p class="card-text">Record directly from your smartphone, using your mobile browser.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="assets/speaking.png" alt="person">
          <div class="card-body">
            <h5 class="card-title">Speak and Improve</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="assets/computer.png" alt="waveform">
          <div class="card-body">
            <h5 class="card-title">Keep track of your progress</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fermentum iaculis eu non diam. Placerat vestibulum lectus mauris ultrices eros in cursus turpis massa. Eu feugiat pretium nibh ipsum. Pretium quam vulputate dignissim suspendisse in est. Feugiat nibh sed pulvinar proin gravida hendrerit lectus. Morbi tristique senectus et netus et malesuada fames ac. Enim nulla aliquet porttitor lacus luctus accumsan. Ac orci phasellus egestas tellus rutrum tellus. Viverra nibh cras pulvinar mattis nunc sed blandit. Volutpat commodo sed egestas egestas fringilla phasellus faucibus.

Tellus orci ac auctor augue mauris augue neque. Augue lacus viverra vitae congue eu. Dignissim cras tincidunt lobortis feugiat. Et magnis dis parturient montes nascetur. Praesent semper feugiat nibh sed. Varius quam quisque id diam vel quam elementum pulvinar etiam. Fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate. Gravida quis blandit turpis cursus in hac habitasse platea. Id diam maecenas ultricies mi eget mauris pharetra. Sagittis orci a scelerisque purus semper eget duis. Malesuada fames ac turpis egestas maecenas.

Turpis in eu mi bibendum neque egestas congue. Sed vulputate odio ut enim blandit volutpat maecenas volutpat blandit. Mattis vulputate enim nulla aliquet porttitor. Fringilla phasellus faucibus scelerisque eleifend. Aliquam sem fringilla ut morbi tincidunt. Nisl suscipit adipiscing bibendum est ultricies integer quis auctor. Venenatis lectus magna fringilla urna. Pharetra diam sit amet nisl suscipit adipiscing bibendum. Sed felis eget velit aliquet sagittis id consectetur purus ut. Aliquet risus feugiat in ante metus. Nulla facilisi etiam dignissim diam quis enim lobortis scelerisque. Mauris pharetra et ultrices neque ornare. Vivamus at augue eget arcu dictum varius duis at consectetur. Ut sem nulla pharetra diam sit amet nisl. Tortor consequat id porta nibh venenatis. Tristique risus nec feugiat in fermentum posuere urna nec tincidunt. Integer malesuada nunc vel risus commodo viverra maecenas. Enim eu turpis egestas pretium.

Amet cursus sit amet dictum sit amet justo. Nunc eget lorem dolor sed viverra ipsum nunc. Ullamcorper morbi tincidunt ornare massa eget. Nisl purus in mollis nunc sed id semper risus in. Enim diam vulputate ut pharetra sit amet. Augue interdum velit euismod in. Tellus integer feugiat scelerisque varius morbi. At elementum eu facilisis sed odio morbi quis. Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet. Donec massa sapien faucibus et molestie ac. Molestie nunc non blandit massa enim nec dui nunc. Eleifend quam adipiscing vitae proin sagittis nisl. Sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Massa sapien faucibus et molestie. Felis eget velit aliquet sagittis id.

Convallis posuere morbi leo urna molestie at elementum eu. Non nisi est sit amet facilisis magna etiam tempor. Bibendum arcu vitae elementum curabitur vitae nunc sed velit. Feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper. Sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt. Tellus at urna condimentum mattis. Cras adipiscing enim eu turpis egestas pretium aenean. Arcu cursus vitae congue mauris rhoncus aenean vel elit. Vulputate odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Accumsan sit amet nulla facilisi morbi tempus. Scelerisque eleifend donec pretium vulputate sapien. Porta non pulvinar neque laoreet suspendisse interdum consectetur libero id. Purus in mollis nunc sed id semper risus. Tellus pellentesque eu tincidunt tortor aliquam nulla. Cras adipiscing enim eu turpis. Vitae semper quis lectus nulla at. Nec nam aliquam sem et tortor. In pellentesque massa placerat duis.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
