<div class='home-section hero'>
  <div class='bg-img-wrapper'>
    <div class='bg-img'></div>    
  </div>
  <div class='slogan-container'>
    <div class='slogan'>
      <h2>recording for language learners</h2>
    </div>
  </div>
</div>
<div class="home-section feature d-flex justify-content-around">
  <div class="row" style="max-width: 1600px">
    <div class="card-deck">
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top feature-image" alt="talking into smartphone" src='assets/talking-into-smartphone.png'>
          <div class="card-body">
            <h5 class="card-title">Record from your smartphone</h5>
            <p class="card-text">Record directly from your smartphone, using your mobile browser.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="assets/speaking.png" alt="person">
          <div class="card-body">
            <h5 class="card-title">Speak and Improve</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="assets/computer.png" alt="waveform">
          <div class="card-body">
            <h5 class="card-title">Keep track of your progress</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>