
<div class='home-section hero'>
  <div class='bg-img-wrapper'>
    <div class='bg-img'></div>    
  </div>
  <div class='slogan-container scale-in-ver-center'>
    <div class='slogan focus-in-expand'>
      <h4>the online recorder for language learners</h4>
    </div>
  </div>
</div>
  <div class="container"style="max-width: 1600px; margin-bottom: 10rem; margin-top: 1rem;">
    <div class="row">
      <div class="feature-card col-xs-12 col-sm-4">
        <div class="card">
          <img class="card-img-top feature-image" alt="talking into smartphone" src='assets/talking-into-smartphone.png'>
          <div class="card-body">
            <h4 class="card-title">Record from your smartphone</h4>
            <p class="card-text">Record directly from your smartphone, using your mobile browser.</p>
          </div>
        </div>
      </div>
      <div class="feature-card col-xs-12 col-sm-4">
        <div class="card">
          <img class="card-img-top" src="assets/speaking.png" alt="person">
          <div class="card-body">
            <h4 class="card-title">Speak and Improve</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
        </div>
      </div>
      <div class="feature-card col-xs-12 col-sm-4">
        <div class="card">
          <img class="card-img-top" src="assets/computer.png" alt="waveform">
          <div class="card-body">
            <h4 class="card-title">Keep track of your progress</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
