.logo {
  background-image: asset-url('speakitt_logo.png');
  background-size: cover;
  height: 50px;
  width: 250px;
}

.navbar {
  padding: 2rem 4.5rem;
}

.navbar-transparent {
  background-color: transparent;
  // transition: 0.5s background-color ease;
}

.navbar-dark-bg {
  background-color: #3a3434;
  transition: 0.5s background-color ease;
}

.navbar a {
  color: white;
}

.navbar li {
  margin-right: 2rem;
}

.navbar {
  button {
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid #e6e6e6;
    color: #e6e6e6;
    margin-left: 2rem;
    margin-right: 2rem;
    transition: background-color .5s ease-out;
    width: 100px;
    height: 40px;
  }

  button:hover {
    background-color: #5a5151;
  }

  button:active {
    line-height: 0;
  }
}

#sign-up {
  background-color: #6E2B2B;
  border: none;
}

#sign-up:hover{
  background-color: #a22626;
}

#sign-up:active{
  line-height: 0;

}