
.wrapper, body {
  display: flex;
  flex-direction: column;
  align-content: center;

}

.content {
  margin-top: 12rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  max-width: 1200px;
}

.recordings-title-wrapper  {

}

html, .body {
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}